<!--
Copyright 2024 Duatic AG

Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.

3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS “AS IS” AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<robot name="dynaarm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--Example dual arm setup - mocked only-->

  <xacro:arg name="tf_prefix" default="" />
  <!-- e.g.: 6-->
  <xacro:arg name="dof" default="6" />
  <!-- real, mock, sim -->
  <xacro:arg name="mode" default="mock" />
  <!-- physical ethercat bus, only used for real -->
  <xacro:arg name="ethercat_bus_left" default="eth0" />
  <xacro:arg name="ethercat_bus_right" default="eth1" />
  <!-- Change to add covers to the arm -->
  <xacro:arg name="covers" default="false" />
  <!-- v1, v2, ... -->
  <xacro:arg name="version" default="baracuda12" />

  <xacro:include filename="$(find dynaarm_description)/urdf/dynaarm.urdf.xacro" />

  <link name="world" />

  <!-- create two dynaarms and fix their bases, move them up such that they do not intersect with the ground -->
  <xacro:dynaarm tf_prefix="left$(arg tf_prefix)/"
                parent_link="world"
                dof="$(arg dof)"
                mode="$(arg mode)"
                ethercat_bus="$(arg ethercat_bus_left)"
                covers="$(arg covers)"
                version="$(arg version)">
    <origin xyz="0 0 0.085" rpy="0.0 0.0 0.0" />
  </xacro:dynaarm>

  <!-- Note: for a real world application you would pass different parameters for both arms (e.g. different ethercat_bus)-->
  <xacro:dynaarm tf_prefix="right$(arg tf_prefix)/"
                parent_link="world"
                dof="$(arg dof)"
                mode="$(arg mode)"
                ethercat_bus="$(arg ethercat_bus_right)"
                covers="$(arg covers)"
                version="$(arg version)">
    <origin xyz="1.0 0 0.085" rpy="0.0 0.0 0.0" />
  </xacro:dynaarm>


</robot>
